<div class="container">
	<div class="main">
    <div class="row">
			<p class="text1">宇宙エレベーターの仕組みは、簡単に説明すると次のようなものです。

			　地球を周る人工衛星は、地球の重力で下（内側）へ引っ張られている力と、遠心力で上（外側）に飛び出そうとする力が一致して釣り合っているため、高度を維持して周回し続けています。このうち赤道上の高度約3万6000㎞を周る人工衛星は、周期が地球の自転と同じで、地上に対して天の一点に静止しているように位置するため、「静止衛星」などと呼ばれます。

			　この静止衛星から、地上へ向けてケーブルを垂らしたとしましょう。ケーブルを吊り下げた分、衛星の地球に向いている側、つまり下の方がやや重くなり、このままでは徐々に地球の重力に引かれて落下してしまいます。そこで、反対側にもケーブルを伸ばしてバランスをとれば、衛星は静止軌道の高度を維持して回り続けられますね。

			　次に、下向きのケーブルをさらに伸ばす。また重さが偏るので再び反対側も伸ばす。これを繰り返していくと、下へ伸ばしたケーブルはやがて地上に到達し、地上と宇宙を結ぶ長大な１本の紐になります。このケーブルに昇降機を取り付け、人や物資を輸送できるようにしたものが宇宙エレベーターであり、原理はとてもシンプルなのです。

			現在のロケットはその重量のほとんどが燃料です。打上げ前のスペースシャトルが29tの貨物を低軌道に打ち上げるのに用いる燃料は1,900t、その効率 は1.5%ほどです。輸送コストは低軌道に1キロ170万円ほどとなり、日本のH2Aの場合では貨物1キロあたり105万円といわれています。

			　 では宇宙エレベータのコストはどのようなものになるのでしょうか。最初の宇宙エレベータの建設に必要なコストは1兆円といわれています。（つくばエクスプレスの建設費とほぼ一緒）現在の宇宙エレベータのモデルではモーターなどを使って上昇する ことになっているので、ロケット燃料等の準備が不要で20tほどの貨物を頻繁に上昇させることが可能です。仮に年間50回ほどの上昇が行えたとすると、1 キロあたり1万円、年間100回だと5,000円とファーストクラスで一人が太平洋を横断するのと同じくらいになってきます。

			　また最初の宇宙エ レベータを利用して2基目の宇宙エレベータを作るコストはさらに40％ほど削減できるといわれています。2機目で3機目、3機目で4機目という具合に建設 コストを削減すると、どこかで頭打ちになるとしても1キロあたり約1,000円程度まで下がってきます。こうなってくると、コストの問題でその実現がまだ まだ先のことと思われている様々な計画の現実味が増してきます。

			・日本が研究の最先端をゆく太陽発電衛星によるエネルギー問題の解決
			・宇宙遊覧や、宇宙ホテルなどへの滞在といった宇宙観光
			・無重力/低重力を利用した様々な産業

			　これらを手始めに、宇宙への安価なアクセスは、月に、火星に人類が進出することを可能にします。重力が地球の6分の1の月や3分１の火星には、スケールの小さいより低コストな宇宙エレベータが建設できます。

			　私達の次の世代/その次の世代には、人類は太陽系全体に広がっていることでしょう。宇宙エレベータがもたらすもの、それは人類の宇宙時代なのです。</p>
		</div>
	</div>
</div>