<div class="top_page">
	<div class="container">
		<div class="main">
	    <div class="row">
				<div class="thanks-msk">
			    <p class="thanks_message">いつか来る宇宙時代のために</p>
			  </div>
			</div>
		</div>
	</div>
</div>